/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Raleway', sans-serif;
}

ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
}

header.menu__header{
    display: flex;
    justify-content: space-around;
}

.menu__header img{
    height: 30px;
    margin: auto;
}

h3.menu__title{
    padding: 0 15px;
}

nav ul.menu__list{
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

li.menu__list__item{
    margin: 0 10px;
}

li.menu__list__item:last-child{
    font-weight: bold;
}

.menu__list__contacto li.menu__list__item__contato{
    display: none;
}

/*Sección Title*/
section.title{
    margin: 20px;
}

section.title div.title__div{
    display: flex;
    flex-direction: row-reverse;
}

div.title__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.title__container h2, h3, ul{
    margin: 20px;
}

.title__container h2.title__bio{
    font-size: 50px;
}

.title__container h3.title__subsection{
    font-size: 20px;
    font-weight: 400;
}

ul.title__network{
    display: flex;
    justify-content:flex-start;
    padding: 0;
}

li.title__network__item{
    padding-right: 30px;
}

div.title__div img.title__profile{
    width: 25%;
    border-radius: 100%;
}


/*Sección About*/

section.about{
    background-color: #FDE5EC;
    padding: 20px 80px;
}


/*Sección Skills*/
section.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

div.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.skills__box{
    background-color: white;
    margin: 10px 5px;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: flex-end;
}

.skills__box ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.skills__img img{
    margin-bottom: 10px;
    width: 30px;
}

/*Sección Hobbies*/

section.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

div.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.hobbies__box{
    background-color: white;
    margin: 10px 5px;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: flex-end;
}

.hobbies__box ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.hobbies__img img{
    margin-bottom: 10px;
    width: 30px;
}

/* Experiencia Académica*/

section.academic{
    margin-top: 40px;
    background-color: #FDE5EC;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.academic__courses{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.academic__courses__box{
    display: flex;
    justify-content: center;
}

ul.academic__courses__list{
    padding-left: 0;
}

ul.academic__courses__list li:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 250px;
    height: 230px;
    padding: 10px;
}

li.academic__courses__item__img img{
    width: 10rem;
}

li.academic__courses__item__title h4{
    margin: 15px 0;
}

/* experiencia*/

section.experience{
    margin: 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.experiencie__box{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
}

div.experiencie__box:nth-child(3){
    display: flex;
    flex-direction: row-reverse;
}

div.experiencie__box:nth-child(5){
    display: flex;
    flex-direction: row-reverse;
}

img.experience__img{
    width: 70vw;
}

div.experience__info{
    margin: 0 30px;
}

h3.experience__text{
    margin-left: 0;
}

div.experience__description button{
    padding: 10px 10px;
    cursor: pointer;
    margin-right: 5px;
}

button.experiencia__botao--repo{
    border: 1px solid #da4771;
    color: #da4771;
    background-color: white;
}

button.experience__botao--demo{
    background-color: #da4771;
    border: 1px solid #da4771;
    color: white;
}

/*Contacto*/

section.formcontato{
    padding: 20px;
    background-color: #FDE5EC;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.formcontato__contacto{
    display: flex;
}

div.formcontato__text{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

div.formcontato__text h3{
    font-weight: 400;
    margin: 3px 0;
    font-size: 17px;
}

form.formcontato__form{
    display: flex;
    flex-direction: column;
}

input.formcontato__input{
    margin: 10px 0;
    height: 80px;
    padding-left: 10px;
    font-size: 13px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
}

input.formcontato__input:focus{
    border-bottom: 2.5px solid #da4771;
    outline: none;
}

textarea.formcontato__textarea{
    margin: 10px 0;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 13px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    height: 50%;
}

textarea.formcontato__textarea:focus{
    border-bottom: 2.5px solid #da4771;
    outline: none;
}

button.formcontato__botao{
    width: 10vw;
    height: 10vh;
    background-color: #da4771;
    border: 1px solid #da4771;
    color: white;
    cursor: pointer;
    margin: 10px 0;
}


/*footeer*/

section.footer{
    margin: 30px 80px;
}

div.footer__rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.footer__rodape p{
    margin: 3px 0;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (max-width: 820px) {

/* Menú */
ul.menu__list li.menu__list__item{
    display: none;
}

.menu__list__contacto li.menu__list__item__contato{
    display:block;
    font-weight: 600;
}

section.menu {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: flex-end;
}

/*title*/

section.title{
    margin: 20px;
}

div.title__div{
    display: flex;
    align-items: center;
}

div.title__container h2, h3, ul{
    margin: 10px;
}

.title__container h2.title__bio{
    font-size: 30px;
}

.title__container h3.title__subsection{
    font-size: 17px;
    font-weight: 400;
}

ul.title__network{
    font-size: 13px;
}

div.title__div img.title__profile{
    width: 10rem;
    height: 10rem;
}

/*Skills*/
div.skills__box{
    flex: 5 1 200px;
    margin: 10px;
}

/*Hobbies*/
div.hobbies__box{
    flex: 5 1 200px;
    margin: 10px;
}

/*Experiencia Profesional*/

div.experiencie__box{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    justify-content: space-between;
    align-items:flex-start;
}

div.experiencie__box:nth-child(3){
    display: flex;
    flex-direction: column;
}

div.experiencie__box:nth-child(5){
    display: flex;
    flex-direction: column;
}

/*Contacto*/
section.formcontato{
    padding: 0;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.formcontato__contacto{
    display: flex;
    justify-content: center;
}

div.formcontato__text{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

img.formcontato__img{
    display: none;
}

button.formcontato__botao{
    width: 20vw;
    height: 10vh;
}

}

/*Mobile*/
@media (max-width: 530px) {

/*Sección Menu*/

section.menu {
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.menu__header img{
    height: 20px;
    margin: auto;
}

h3.menu__title{
    padding: 0 10px;
    font-size: 12px;
    margin-left: 0;
    margin-right: 0;
}

li.menu__list__item__contato{
    font-size: 12px;
}

/*Titulo*/

section.title{
    margin: 10px;
}

div.title__div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title__container h2.title__bio{
    font-size: 18px;
}

.title__container h3.title__subsection{
    font-size: 12px;
    font-weight: 400;
}

ul.title__network{
    font-size: 9px;
    font-weight: 600;
}

li.title__network__item{
    padding-right: 10px;
}

/*Sección sobre mi*/

section.about{
    background-color: #FDE5EC;
    padding: 20px;
}

p.about__paragraph{
    font-size: 12px;
}

/*Skills*/
div.skills__line {
    width: 80vw;
}

/*Hobbies*/
div.hobbies__line {
    width: 80vw;
}

/*Formación Académica*/

ul.academic__courses__list li:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50vw;
    height: 20vh;
    padding: 10px;
}

li.academic__courses__item__img img{
    width: 30vw;
}

/*Experiencia Académica*/

section.academic{
    padding: 0;
}

h2.academic__title{
    text-align: center;
}

li.academic__courses__item__title{
    display: flex;
    justify-content: flex-start;
}

/* experiencia*/
section.experience{
    margin: 20px 0;
    width: 100vw;
}

h2.experience__section__title{
    text-align: center;
}

h2.experience__title{
    font-size: 15px;
}

h3.experience__text{
    font-size: 13px;
    font-weight: 400;
}

div.experience__info{
    margin: 5px 0;
}

div.experiencie__box{
    align-items: flex-start;
}

div.experiencie__box{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    align-items:flex-start;
}

/*Contacto*/

div.formcontato__text h3{
    margin: 3px 0;
    font-size: 13px;
}

input.formcontato__input{
    margin: 10px 0;
    height: 50px;
    font-size: 10px;
    width: 65vw;
}

textarea.formcontato__textarea{
    font-size: 10px;
    height: 50%;
    width: 65vw;
}

/*Footer*/

section.footer{
    text-align: center;
    margin: 30px 0;
}

button.formcontato__botao{
    width: 30vw;
    height: 10vh;
}

}