/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Raleway', sans-serif;
}

ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
}

header.menu__header{
    display: flex;
    justify-content: space-around;
}

.menu__header img{
    height: 30px;
    margin: auto;
}

h3.menu__title{
    padding: 0 15px;
}

nav ul.menu__list{
    display: flex;
    justify-content: center;
    margin: 20px;
}

li.menu__list__item{
    margin: 0 10px;
}

li.menu__list__item:nth-last-child(2){
    font-weight: bold;
}

.menu__list li.menu__list__item__contato{
    display: none;
}

/*Sección Title*/
section.title{
    margin: 80px;
}

section.title div.title__div{
    display: flex;
    flex-direction: row-reverse;
}

div.title__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.title__container h2, h3, ul{
    margin: 20px;
}

.title__container h2.title__bio{
    font-size: 50px;
}

.title__container h3.title__subsection{
    font-size: 20px;
    font-weight: 400;
}

ul.title__network{
    display: flex;
    justify-content:flex-start;
    padding: 0;
}

li.title__network__item{
    padding-right: 30px;
}

div.title__div img.title__profile{
    width: 25%;
    border-radius: 100%;
}


/*Sección About*/

section.about{
    background-color: #FDE5EC;
    padding: 20px 80px;
}


/*Sección Skills*/
section.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

div.skills__line{
    display: flex;
    flex-wrap: wrap;
}

div.skills__box{
    background-color: white;
    margin: 0 5px;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: flex-end;
}

.skills__box ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.skills__img img{
    margin-bottom: 10px;
    width: 30px;
}

/*Sección Hobbies*/

section.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

div.hobbies__line{
    display: flex;
    flex-wrap: wrap;
}

div.hobbies__box{
    background-color: white;
    margin: 0 5px;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: flex-end;
}

.hobbies__box ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.hobbies__img img{
    margin-bottom: 10px;
    width: 30px;
}

/* Experiencia Académica*/

section.academic{
    margin-top: 40px;
    background-color: #FDE5EC;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.academic__courses{
    display: flex;
}

div.academic__courses__box{
    display: flex;
    justify-content: center;
}

ul.academic__courses__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    width: 250px;
    padding: 10px;
}

/* experiencia*/

section.experience{

}

/*Contacto*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}